{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="maininfo col-sm-8 col-sm-offset-2">
                <h5 class="welcome_message" align="justify" font-style="oblique">Welcome to Fanus, This is a website designed to help Tigrigna speaking people learn Dutch in an easy and interactive way. Feel free to explore everything. We also look forward for your invaluable inputs to make the website even better.!Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
            </div>
        </div>        
    </div>
    <div class="container">
         <div class="row">
             <div class="start_button col-sm-2 col-sm-offset-5">
                 <button type="button" class="btn btn-success">Start learning</button>
             </div>
         </div>
    </div>
{% endblock %}